.top-nav-bar-container{
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background: #00796b;
  -webkit-box-shadow: 0px 8px 13px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 13px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 13px -8px rgba(0,0,0,0.75);
}
.top-nav-tabs-list{
  width:100%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  list-style: none;
  margin-bottom: 0px
}

.top-nav-tab{
  padding: 20px;
  text-transform: capitalize;
  color: #c7c7c7;
  cursor: pointer;
}

.top-nav-tab.active {
  background: #04A98D;
  color: #fff;
}

.top-nav-tab-text {
  font-size: 18px;
}